<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Danh sách sách</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style3.css" />
</head>
<body>
	<div class="container">
		<div>Sách tại nhà sách: 70 kết quả.</div>
		<div class="row">
			<a href="" class="col-2"><img src="/static/imgs/category/books/IS0001.jpg" width="200px" height="200px">
                <span class="TEN_SACH">Tôi thấy hoa vàng trên cỏ xanh</span>
                <span class="TAC_GIA">Nguyễn Nhật Ánh</span>
                <span class="GIA">50000 ₫</span>
                <span class="GIA_GOC">100000 ₫</span>
                <span class="GIAM">-30%</span>
			</a>
			<a href="" class="col-2"><img src="/static/imgs/category/books/IS0002.jpg" width="200px" height="200px">
                <span class="TEN_SACH">Tôi thấy hoa vàng trên cỏ xanh</span>
                <span class="TAC_GIA">Nguyễn Nhật Ánh</span>
                <span class="GIA">50000 ₫</span>
                <span class="GIA_GOC">100000 ₫</span>
                <span class="GIAM">-30%</span>
			</a>
			<a href="" class ="col-2"><img src="/static/imgs/category/books/IS0003.jpg" width="200px" height="200px">
                <span class="TEN_SACH">Tôi thấy hoa vàng trên cỏ xanh</span>
                <span class="TAC_GIA">Nguyễn Nhật Ánh</span>
                <span class="GIA">50000 ₫</span>
                <span class="GIA_GOC">100000 ₫</span>
                <span class="GIAM">-30%</span>
			</a>
			<a href="" class ="col-2"><img src="/static/imgs/category/books/IS0004.jpg" width="200px" height="200px">
                <span class="TEN_SACH">Tôi thấy hoa vàng trên cỏ xanh</span>
                <span class="TAC_GIA">Nguyễn Nhật Ánh</span>
                <span class="GIA">50000 ₫</span>
                <span class="GIA_GOC">100000 ₫</span>
                <span class="GIAM">-30%</span>
			</a>
			<a href="" class ="col-2"><img src="/static/imgs/category/books/IS0005.jpg" width="200px" height="200px">
                <span class="TEN_SACH">Tôi thấy hoa vàng trên cỏ xanh</span>
                <span class="TAC_GIA">Nguyễn Nhật Ánh</span>
                <span class="GIA">50000 ₫</span>
                <span class="GIA_GOC">100000 ₫</span>
                <span class="GIAM">-30%</span>
			</a>
		</div>
	</div>
</body>
</html>