<%if(data){%>
    <% for(var i = 0; i < data.length; ++i){%>
        <div class="row" style="padding: 20px" id="Hien_thi_cmt"> 
            <div class="col-sm-2" style="margin-left: 20px;">
                <p  style="color: blue; text-align: center"><%= data[i].comment.username %></p>  
                <p style="text-align: center"><%= data[i].comment.datetime %></p>
            </div>
            <span class="col-sm-8" style="display:block; width:750px;word-wrap:break-word;"><%= data[i].comment.content %></span>         
        </div>
        <br/>
    <%}%>
<%}%>