<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
					</div>
					<div class="col-sm-2">
						<div class="companyinfo">
							<div class="logo">
								<a href="#" title="Trang chủ">
									<img src="../static/imgs/icon/logo.png" alt="Trang chủ" height="60px" width="160px"/>
								</a>
							</div>
							<p>Website bán sách xịn nhất hiện nay trên thị trường Việt Nam</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-sm-2">
							<div class="video-gallery text-center">
								<a href="https://www.hcmus.edu.vn/" target="_blank">
									<div class="iframe-img">
										<img src="/static/imgs/icon/hcmus.jpg" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>HCMUSS</p>
								<h2>Đại học khoa học Tự nhiên TPHCM</h2>
							</div>
						</div>
						
						<div class="col-sm-2">
							<div class="video-gallery text-center">
								<a href="http://www.fit.hcmus.edu.vn/vn/" target="_blank">
									<div class="iframe-img">
										<img src="/static/imgs/icon/fit.jpg" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>FIT HCMUS</p>
								<h2>Khoa CNTT - ĐH KHTN</h2>
							</div>
						</div>				
				</div>
			</div>
		</div>
		
		
		<%- include footer_dev%>
		
</footer><!--/Footer-->