<div class="footer-bottom">
			<div class="container">
                <h3 class="text-center">Copyright © 2018 - BookShop</h3>
                <hr>
                <h3 class="text-center">Website is developed by: </h3>
				<p class="text-center">Nguyễn Thành Chung</p>
				<p class="text-center">Trần Nhựt Cường</p>
				<p class="text-center">Nguyễn Trần Tuấn Anh</p>
			</div>
</div>