<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <h3>TRANG NHÂN VIÊN</h3>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <!-- Quản lý sách -->
                    <li class="active has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-book"></i>Quản lý sách</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <p> Thêm sách </p>
                            </li>
                            <li>
                                <a href="/staff/update_delete_book">Xóa, sửa sách</a>
                            </li>
                            
                            <li>
                                <a>Thêm sách vào danh sách đặc biệt</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Quản lý tác giả -->
                    <li class="active has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-user-circle"></i>Quản lý tác giả</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="/staff/create_author">Thêm tác giả</a>
                            </li>
                            <li>
                                <a>Xóa, sửa tác giả</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Quản lý nhà xuất bản -->
                    <li class="active has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fab fa-leanpub"></i>Quản lý nhà xuất bản</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="/staff/create_publisher">Thêm nhà xuất bản</a>
                            </li>
                            <li>
                                <a>Xóa, sửa nhà xuất bản</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Quản lý đơn hàng -->
                    <li class="active has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-cart-arrow-down"></i>Quản lý đơn hàng</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a>Cập nhật thông tin đơn hàng</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->