<!-- Xem thông tin -->
<li class="active has-sub">
	<a class="js-arrow" href="./dashboard">
		<i class="fas fa-book"></i>
		Dashboard
	</a>         
</li>

	<!-- Xem thông tin -->
<li class="active has-sub">
	<a class="js-arrow" href="./information">
		<i class="fas fa-book"></i>
		Xem thông tin
	</a>         
</li>

<!-- Chỉnh sửa thông tin -->
<li class="active has-sub">
	<a class="js-arrow" href="./edit_information">
		<i class="far fa-edit"></i>
		Chỉnh sửa thông tin
	</a>         
</li>

<!-- Đổi mật khẩu -->
<li class="active has-sub">
	<a class="js-arrow" href="./change_password">
    	<i class="fas fa-user-circle"></i>
    	Đổi mật khẩu
	</a>
</li>

<!-- Thông tin đơn hàng -->
<li class="active has-sub">
	<a class="js-arrow" href="./orders">
    	<i class="fas fa-cart-arrow-down"></i>
    	Thông tin đơn hàng
    </a>
</li>